<h1><%= @user.username.capitalize %>'s Movie Suggestions!</h1>

<ul>
  <% @movies.each do |movie| %>
    <li><a href="/movies/<%=movie.id%>"><%=movie.name.capitalize%></a></li>
  <%end%>

</ul>
