<h1>Welcome to Fan Controlled Movie Studios!</h1>

<p>Welcome to Fan Controlled Movie Studios(FCMS), where we make the movies you want to see, literally! At FCMS, we let our users submit movie ideas from many different genres and every few months we selecct one to begin production on! Pretty cool right? Your movie idea on the big screen in a theater near you? Sign in using the link below or sign up for your chance to make the next big blockbuster hit!</p>

<a href="/login">Log In</a><br>
<a href="/signup">Sign Up</a>
